{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Username</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forgot_details.css' %}">
</head>
<body>
    <div class="container">
        <h2>Forgot Username</h2>
        
        <!-- Message Box -->
        {% if messages %}
            <div class="message-box">
                {% for message in messages %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="post" action="{% url 'forgot_username' %}">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Submit</button>
        </form>
        <a href="{% url 'login' %}">Back to Login</a>
    </div>
</body>
</html>
