/* static/css/profile.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e5f4fb;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 220px; /* Offset to account for the sidebar */
}

.profile-header {
    font-size: 24px;
    font-weight: bold;
    color: #1a4bc6;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-panel {
    margin-right: 40px;
    text-align: center;
}

.left-panel h1 {
    color: #1a4bc6;
}

.specialization {
    color: #797979;
    font-size: 20px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.right-panel h3 {
    font-size: 18px;
    font-weight: bold;
}

.right-panel p {
    margin: 10px 0;
}

a {
    color: #1a4bc6;
    text-decoration: none;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 220px;
    background-color: #003366;
    color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
    text-align: left;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar ul li a:hover {
    background-color: #00509e;
    transform: translateX(10px);
    border-radius: 5px;
}

.sidebar ul li a.active {
    background-color: #004080;
    font-weight: bold;
}

@media (max-width: 768px) {
    .sidebar {
        width: 180px;
    }

    .sidebar ul li a {
        font-size: 14px;
        padding: 10px 15px;
    }

    .sidebar ul li a.active {
        background-color: #004080;
        font-weight: bold;
    }
}